In [42]:
%matplotlib inline

SyntaxError: invalid syntax (<string>, line 1)

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("confirmed.csv")
df.head(0)

Empty DataFrame
Columns: [date, TT, AN, AP, AR, AS, BR, CH, CT, DD, DL, DN, GA, GJ, HP, HR, JH, JK, KA, KL, LA, LD, MH, ML, MN, MP, MZ, NL, OR, PB, PY, RJ, SK, TG, TN, TR, UP, UT, WB, Unnamed: 39]
Index: []

In [40]:
len(df.columns[1:])

39

In [33]:
df2=df.loc[:,df.columns[1:]]
df3=df2.cumsum(axis=0)
df3.head()
df3.plot()