In [1]:
from impfuncs import *
import matplotlib.pyplot as plt

from plotly.subplots import make_subplots
import plotly.graph_objects as go
from datetime import date

In [59]:
state="India"
start_day=25
end_day=74

dfs=populate_dfs()    

color=next(colorcycler)
arr=load_Data(dfs,state=state,day_max=end_day)
cases=column(arr,2)
recovery=column(arr,3)
dead=column(arr,4)
active=column(arr,5)


dates=column(arr,1)

arrNew=[]
arrHover=[]
for i in range(len(arr)):
    c_val=cases[i]
    r_val=recovery[i]
    d_val=dead[i]
    a_val=active[i]
    c_h=np.where(cases>=c_val/2)[0][0]
    r_h=np.where(recovery>=r_val/2)[0][0]
    d_h=np.where(dead>=d_val/2)[0][0]
    a_h=np.where(active>=a_val/2)[0][0]
    
    arrNew.append([dates[i],i-c_h,i-r_h,i-d_h,i-a_h])
    c_hover="("+str(cases[i])+". On "+str(dates[c_h])+" there were "+ str(cases[c_h])
    r_hover="("+str(recovery[i])+". On "+str(dates[r_h])+" there were "+ str(recovery[r_h])
    d_hover="("+str(dead[i])+". On "+str(dates[d_h])+" there were "+ str(dead[d_h])
    a_hover="("+str(active[i])+". On "+str(dates[a_h])+" there were "+ str(active[a_h])
    arrHover.append([c_hover,r_hover,d_hover,a_hover])
    
    
x=column(arrNew,0)
    
fig = go.Figure()


p_cases=go.Scatter(x=x,y=column(arrNew,1),name="Cases",marker={'color': "blue",'line':dict(width=2)},mode="lines+markers",hovertext=column(arrHover,0))
p_recovery=go.Scatter(x=x,y=column(arrNew,2),name="Recovered",marker={'color': "green",'line':dict(width=2)},mode="lines+markers",hovertext=column(arrHover,1))
p_dead=go.Scatter(x=x,y=column(arrNew,3),name="Dead",marker={'color': "red",'line':dict(width=2)},mode="lines+markers",hovertext=column(arrHover,2))
p_active=go.Scatter(x=x,y=column(arrNew,4),name="Active",marker={'color': "black",'line':dict(width=2)},mode="lines+markers",hovertext=column(arrHover,3))

#p_cases=go.Bar(x=x,y=column(arrNew,1),name="Cases",marker={'color': "blue"})
#p_recovery=go.Bar(x=x,y=column(arrNew,2),name="Recovered",marker={'color': "green"})
#p_dead=go.Bar(x=x,y=column(arrNew,3),name="Dead",marker={'color': "red"})
#p_active=go.Bar(x=x,y=column(arrNew,4),name="Active",marker={'color': "black"})


fig.add_trace(p_cases)
fig.add_trace(p_recovery)
fig.add_trace(p_dead)
fig.add_trace(p_active)
fig.update_layout(height=600, width=1200,title="Doubling days for "+state,xaxis_title="Days",
    yaxis_title="Day",
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"))
fig.write_html('index.html', auto_open=True)
#fig.show()

/home/gururaj/Work/Python/github/covid_India/impfuncs.py:94: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/home/gururaj/Work/Python/github/covid_India/impfuncs.py:95: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

/home/gururaj/Work/Python/github/covid_India/impfuncs.py:96: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

In [56]:
arrHover

[['(81. On 14-Mar there were 81',
  '(9. On 14-Mar there were 9',
  '(2. On 14-Mar there were 2',
  '(70. On 14-Mar there were 70'],
 ['(108. On 14-Mar there were 81',
  '(13. On 14-Mar there were 9',
  '(2. On 14-Mar there were 2',
  '(93. On 14-Mar there were 70'],
 ['(123. On 14-Mar there were 81',
  '(14. On 14-Mar there were 9',
  '(2. On 14-Mar there were 2',
  '(107. On 14-Mar there were 70'],
 ['(134. On 14-Mar there were 81',
  '(15. On 14-Mar there were 9',
  '(3. On 14-Mar there were 2',
  '(116. On 14-Mar there were 70'],
 ['(171. On 15-Mar there were 108',
  '(15. On 14-Mar there were 9',
  '(3. On 14-Mar there were 2',
  '(153. On 15-Mar there were 93'],
 ['(198. On 15-Mar there were 108',
  '(20. On 15-Mar there were 13',
  '(4. On 14-Mar there were 2',
  '(174. On 15-Mar there were 93'],
 ['(256. On 17-Mar there were 134',
  '(23. On 15-Mar there were 13',
  '(4. On 14-Mar there were 2',
  '(229. On 17-Mar there were 116'],
 ['(334. On 18-Mar there were 171',
  '(23. On 15-Mar there were 13',
  '(4. On 14-Mar there were 2',
  '(307. On 19-Mar there were 174'],
 ['(401. On 20-Mar there were 256',
  '(23. On 15-Mar there were 13',
  '(7. On 19-Mar there were 4',
  '(371. On 20-Mar there were 229'],
 ['(503. On 20-Mar there were 256',
  '(35. On 19-Mar there were 20',
  '(9. On 22-Mar there were 7',
  '(459. On 21-Mar there were 307'],
 ['(567. On 21-Mar there were 334',
  '(40. On 19-Mar there were 20',
  '(10. On 22-Mar there were 7',
  '(517. On 21-Mar there were 307'],
 ['(657. On 21-Mar there were 334',
  '(43. On 20-Mar there were 23',
  '(11. On 22-Mar there were 7',
  '(603. On 21-Mar there were 307'],
 ['(722. On 22-Mar there were 401',
  '(50. On 23-Mar there were 35',
  '(16. On 23-Mar there were 9',
  '(656. On 22-Mar there were 371'],
 ['(886. On 23-Mar there were 503',
  '(76. On 24-Mar there were 40',
  '(19. On 24-Mar there were 10',
  '(791. On 23-Mar there were 459'],
 ['(1029. On 24-Mar there were 567',
  '(85. On 25-Mar there were 43',
  '(24. On 26-Mar there were 16',
  '(920. On 24-Mar there were 517'],
 ['(1139. On 25-Mar there were 657',
  '(90. On 26-Mar there were 50',
  '(27. On 26-Mar there were 16',
  '(1022. On 24-Mar there were 517'],
 ['(1326. On 26-Mar there were 722',
  '(139. On 27-Mar there were 76',
  '(40. On 28-Mar there were 24',
  '(1147. On 25-Mar there were 603'],
 ['(1635. On 27-Mar there were 886',
  '(154. On 28-Mar there were 85',
  '(46. On 28-Mar there were 24',
  '(1435. On 27-Mar there were 791'],
 ['(2059. On 29-Mar there were 1139',
  '(170. On 28-Mar there were 85',
  '(55. On 30-Mar there were 40',
  '(1834. On 28-Mar there were 920'],
 ['(2545. On 30-Mar there were 1326',
  '(192. On 30-Mar there were 139',
  '(69. On 30-Mar there were 40',
  '(2284. On 30-Mar there were 1147'],
 ['(3105. On 31-Mar there were 1635',
  '(230. On 30-Mar there were 139',
  '(83. On 31-Mar there were 46',
  '(2792. On 31-Mar there were 1435'],
 ['(3684. On 01-Apr there were 2059',
  '(286. On 31-Mar there were 154',
  '(96. On 01-Apr there were 55',
  '(3302. On 01-Apr there were 1834'],
 ['(4293. On 02-Apr there were 2545',
  '(329. On 01-Apr there were 170',
  '(118. On 02-Apr there were 69',
  '(3846. On 02-Apr there were 2284'],
 ['(4777. On 02-Apr there were 2545',
  '(394. On 03-Apr there were 230',
  '(134. On 02-Apr there were 69',
  '(4249. On 02-Apr there were 2284'],
 ['(5349. On 03-Apr there were 3105',
  '(469. On 04-Apr there were 286',
  '(161. On 03-Apr there were 83',
  '(4719. On 03-Apr there were 2792'],
 ['(5914. On 03-Apr there were 3105',
  '(565. On 04-Apr there were 286',
  '(181. On 04-Apr there were 96',
  '(5168. On 03-Apr there were 2792'],
 ['(6727. On 04-Apr there were 3684',
  '(635. On 05-Apr there were 329',
  '(227. On 05-Apr there were 118',
  '(5865. On 04-Apr there were 3302'],
 ['(7598. On 05-Apr there were 4293',
  '(786. On 06-Apr there were 394',
  '(249. On 06-Apr there were 134',
  '(6563. On 04-Apr there were 3302'],
 ['(8452. On 05-Apr there were 4293',
  '(972. On 08-Apr there were 565',
  '(289. On 07-Apr there were 161',
  '(7191. On 05-Apr there were 3846'],
 ['(9210. On 06-Apr there were 4777',
  '(1086. On 08-Apr there were 565',
  '(331. On 08-Apr there were 181',
  '(7793. On 06-Apr there were 4249'],
 ['(10453. On 07-Apr there were 5349',
  '(1198. On 09-Apr there were 635',
  '(358. On 08-Apr there were 181',
  '(8897. On 07-Apr there were 4719'],
 ['(11484. On 08-Apr there were 5914',
  '(1365. On 10-Apr there were 786',
  '(395. On 09-Apr there were 227',
  '(9724. On 08-Apr there were 5168'],
 ['(12370. On 09-Apr there were 6727',
  '(1509. On 10-Apr there were 786',
  '(422. On 09-Apr there were 227',
  '(10439. On 09-Apr there were 5865'],
 ['(13431. On 09-Apr there were 6727',
  '(1767. On 11-Apr there were 972',
  '(448. On 09-Apr there were 227',
  '(11216. On 09-Apr there were 5865'],
 ['(14353. On 10-Apr there were 7598',
  '(2040. On 12-Apr there were 1086',
  '(486. On 10-Apr there were 249',
  '(11827. On 10-Apr there were 6563'],
 ['(15724. On 11-Apr there were 8452',
  '(2466. On 14-Apr there were 1365',
  '(521. On 11-Apr there were 289',
  '(12737. On 10-Apr there were 6563'],
 ['(17304. On 12-Apr there were 9210',
  '(2854. On 15-Apr there were 1509',
  '(559. On 11-Apr there were 289',
  '(13891. On 11-Apr there were 7191'],
 ['(18543. On 13-Apr there were 10453',
  '(3273. On 16-Apr there were 1767',
  '(592. On 12-Apr there were 331',
  '(14678. On 12-Apr there were 7793'],
 ['(20080. On 13-Apr there were 10453',
  '(3976. On 17-Apr there were 2040',
  '(645. On 12-Apr there were 331',
  '(15459. On 12-Apr there were 7793'],
 ['(21372. On 14-Apr there were 11484',
  '(4370. On 18-Apr there were 2466',
  '(681. On 13-Apr there were 358',
  '(16321. On 13-Apr there were 8897'],
 ['(23039. On 15-Apr there were 12370',
  '(5012. On 19-Apr there were 2854',
  '(721. On 14-Apr there were 395',
  '(17306. On 13-Apr there were 8897'],
 ['(24447. On 15-Apr there were 12370',
  '(5496. On 19-Apr there were 2854',
  '(780. On 14-Apr there were 395',
  '(18171. On 14-Apr there were 9724'],
 ['(26282. On 16-Apr there were 13431',
  '(5938. On 20-Apr there were 3273',
  '(824. On 15-Apr there were 422',
  '(19520. On 15-Apr there were 10439'],
 ['(27889. On 17-Apr there were 14353',
  '(6523. On 20-Apr there were 3273',
  '(880. On 16-Apr there were 448',
  '(20486. On 15-Apr there were 10439'],
 ['(29457. On 18-Apr there were 15724',
  '(7103. On 21-Apr there were 3976',
  '(938. On 17-Apr there were 486',
  '(21416. On 16-Apr there were 11216'],
 ['(31359. On 18-Apr there were 15724',
  '(7739. On 21-Apr there were 3976',
  '(1007. On 18-Apr there were 521',
  '(22613. On 17-Apr there were 11827'],
 ['(33064. On 19-Apr there were 17304',
  '(8429. On 22-Apr there were 4370',
  '(1078. On 19-Apr there were 559',
  '(23557. On 17-Apr there were 11827'],
 ['(34865. On 20-Apr there were 18543',
  '(9059. On 23-Apr there were 5012',
  '(1153. On 20-Apr there were 592',
  '(24653. On 18-Apr there were 12737'],
 ['(37261. On 21-Apr there were 20080',
  '(10021. On 23-Apr there were 5012',
  '(1230. On 21-Apr there were 645',
  '(26010. On 19-Apr there were 13891'],
 ['(39825. On 21-Apr there were 20080',
  '(10852. On 24-Apr there were 5496',
  '(1322. On 22-Apr there were 681',
  '(27651. On 19-Apr there were 13891'],
 ['(42777. On 23-Apr there were 23039',
  '(11763. On 25-Apr there were 5938',
  '(1462. On 24-Apr there were 780',
  '(29552. On 21-Apr there were 15459'],
 ['(46433. On 24-Apr there were 24447',
  '(12845. On 26-Apr there were 6523',
  '(1565. On 25-Apr there were 824',
  '(32023. On 22-Apr there were 16321'],
 ['(49404. On 25-Apr there were 26282',
  '(14140. On 27-Apr there were 7103',
  '(1693. On 26-Apr there were 880',
  '(33571. On 23-Apr there were 17306'],
 ['(53006. On 26-Apr there were 27889',
  '(15301. On 28-Apr there were 7739',
  '(1784. On 27-Apr there were 938',
  '(35921. On 24-Apr there were 18171'],
 ['(56350. On 27-Apr there were 29457',
  '(16776. On 29-Apr there were 8429',
  '(1888. On 28-Apr there were 1007',
  '(37686. On 25-Apr there were 19520'],
 ['(59689. On 28-Apr there were 31359',
  '(17887. On 30-Apr there were 9059',
  '(1985. On 28-Apr there were 1007',
  '(39817. On 26-Apr there were 20486'],
 ['(62864. On 29-Apr there were 33064',
  '(19301. On 01-May there were 10021',
  '(2100. On 29-Apr there were 1078',
  '(41463. On 27-Apr there were 21416'],
 ['(67175. On 30-Apr there were 34865',
  '(20970. On 02-May there were 10852',
  '(2212. On 30-Apr there were 1153',
  '(43993. On 28-Apr there were 22613'],
 ['(70767. On 01-May there were 37261',
  '(22549. On 03-May there were 11763',
  '(2293. On 30-Apr there were 1153',
  '(45925. On 29-Apr there were 23557'],
 ['(74329. On 01-May there were 37261',
  '(24454. On 04-May there were 12845',
  '(2413. On 01-May there were 1230',
  '(47462. On 30-Apr there were 24653'],
 ['(78055. On 02-May there were 39825',
  '(26417. On 05-May there were 14140',
  '(2550. On 02-May there were 1322',
  '(49088. On 30-Apr there were 24653'],
 ['(82046. On 03-May there were 42777',
  '(28011. On 05-May there were 14140',
  '(2647. On 03-May there were 1462',
  '(51388. On 01-May there were 26010'],
 ['(85854. On 04-May there were 46433',
  '(30245. On 06-May there were 15301',
  '(2751. On 03-May there were 1462',
  '(52858. On 02-May there were 27651'],
 ['(90648. On 04-May there were 46433',
  '(34257. On 08-May there were 17887',
  '(2871. On 03-May there were 1462',
  '(53520. On 02-May there were 27651'],
 ['(95697. On 05-May there were 49404',
  '(36795. On 09-May there were 19301',
  '(3023. On 04-May there were 1565',
  '(55879. On 03-May there were 29552'],
 ['(100325. On 06-May there were 53006',
  '(39277. On 10-May there were 20970',
  '(3154. On 05-May there were 1693',
  '(57894. On 03-May there were 29552'],
 ['(106479. On 07-May there were 56350',
  '(42309. On 11-May there were 22549',
  '(3300. On 05-May there were 1693',
  '(60870. On 04-May there were 32023'],
 ['(112199. On 07-May there were 56350',
  '(45422. On 12-May there were 24454',
  '(3434. On 06-May there were 1784',
  '(63343. On 04-May there were 32023'],
 ['(118222. On 08-May there were 59689',
  '(48553. On 12-May there were 24454',
  '(3582. On 07-May there were 1888',
  '(66087. On 05-May there were 33571'],
 ['(124758. On 09-May there were 62864',
  '(51833. On 13-May there were 26417',
  '(3724. On 07-May there were 1888',
  '(69201. On 06-May there were 35921'],
 ['(131421. On 10-May there were 67175',
  '(54409. On 14-May there were 28011',
  '(3866. On 08-May there were 1985',
  '(73146. On 07-May there were 37686'],
 ['(138532. On 11-May there were 70767',
  '(57694. On 15-May there were 30245',
  '(4022. On 09-May there were 2100',
  '(76816. On 08-May there were 39817'],
 ['(144946. On 12-May there were 74329',
  '(60706. On 16-May there were 34257',
  '(4172. On 09-May there were 2100',
  '(80068. On 09-May there were 41463'],
 ['(150789. On 13-May there were 78055',
  '(64277. On 16-May there were 34257',
  '(4341. On 10-May there were 2212',
  '(82171. On 09-May there were 41463']]

In [23]:
arr

[[0, '14-Mar', 6, 0, 1, 5],
 [1, '15-Mar', 6, 0, 1, 5],
 [2, '16-Mar', 7, 0, 1, 6],
 [3, '17-Mar', 9, 0, 1, 8],
 [4, '18-Mar', 14, 0, 1, 13],
 [5, '19-Mar', 15, 0, 1, 14],
 [6, '20-Mar', 15, 1, 1, 13],
 [7, '21-Mar', 20, 1, 1, 18],
 [8, '22-Mar', 26, 1, 1, 24],
 [9, '23-Mar', 33, 2, 1, 30],
 [10, '24-Mar', 41, 3, 1, 37],
 [11, '25-Mar', 51, 3, 1, 47],
 [12, '26-Mar', 55, 3, 2, 50],
 [13, '27-Mar', 64, 5, 3, 56],
 [14, '28-Mar', 81, 5, 3, 73],
 [15, '29-Mar', 83, 5, 3, 75],
 [16, '30-Mar', 88, 6, 3, 79],
 [17, '31-Mar', 101, 8, 3, 90],
 [18, '01-Apr', 110, 9, 3, 98],
 [19, '02-Apr', 124, 11, 3, 110],
 [20, '03-Apr', 128, 11, 4, 113],
 [21, '04-Apr', 144, 11, 4, 129],
 [22, '05-Apr', 151, 12, 4, 135],
 [23, '06-Apr', 163, 20, 4, 139],
 [24, '07-Apr', 175, 25, 4, 146],
 [25, '08-Apr', 181, 28, 5, 148],
 [26, '09-Apr', 197, 30, 6, 161],
 [27, '10-Apr', 207, 34, 6, 167],
 [28, '11-Apr', 215, 39, 6, 170],
 [29, '12-Apr', 232, 54, 6, 172],
 [30, '13-Apr', 247, 60, 8, 179],
 [31, '14-Apr', 260, 71, 10, 179],
 [32, '15-Apr', 279, 80, 12, 187],
 [33, '16-Apr', 315, 82, 13, 220],
 [34, '17-Apr', 359, 88, 13, 258],
 [35, '18-Apr', 384, 104, 14, 266],
 [36, '19-Apr', 390, 111, 16, 263],
 [37, '20-Apr', 408, 112, 16, 280],
 [38, '21-Apr', 418, 129, 17, 272],
 [39, '22-Apr', 427, 131, 17, 279],
 [40, '23-Apr', 445, 145, 17, 283],
 [41, '24-Apr', 474, 152, 18, 304],
 [42, '25-Apr', 500, 158, 18, 324],
 [43, '26-Apr', 503, 182, 19, 302],
 [44, '27-Apr', 512, 193, 20, 299],
 [45, '28-Apr', 523, 207, 20, 296],
 [46, '29-Apr', 535, 216, 21, 298],
 [47, '30-Apr', 565, 229, 22, 314],
 [48, '01-May', 589, 251, 22, 316],
 [49, '02-May', 601, 271, 25, 305],
 [50, '03-May', 614, 293, 25, 296],
 [51, '04-May', 651, 321, 27, 303],
 [52, '05-May', 673, 331, 29, 313],
 [53, '06-May', 693, 354, 29, 310],
 [54, '07-May', 705, 366, 30, 309],
 [55, '08-May', 753, 376, 30, 347],
 [56, '09-May', 794, 386, 30, 378],
 [57, '10-May', 848, 422, 31, 395],
 [58, '11-May', 862, 426, 31, 405],
 [59, '12-May', 925, 433, 31, 461],
 [60, '13-May', 959, 451, 33, 475],
 [61, '14-May', 987, 460, 35, 492],
 [62, '15-May', 1056, 480, 36, 540],
 [63, '16-May', 1092, 496, 36, 560],
 [64, '17-May', 1147, 509, 37, 601],
 [65, '18-May', 1246, 530, 37, 679],
 [66, '19-May', 1395, 543, 40, 812],
 [67, '20-May', 1462, 556, 41, 865],
 [68, '21-May', 1605, 571, 41, 993],
 [69, '22-May', 1743, 597, 41, 1105],
 [70, '23-May', 1959, 608, 42, 1309],
 [71, '24-May', 2089, 654, 42, 1393],
 [72, '25-May', 2182, 705, 44, 1433],
 [73, '26-May', 2283, 748, 44, 1491]]